[package]
name = "polygraph-wasm"
version = "0.2.0"
edition = "2021"

[lib]
crate-type = ["cdylib"]
path = "src/wasm/mod.rs"

[dependencies]
wasm-bindgen = "0.2"
serde = { version = "1.0", features = ["derive"] }
serde-wasm-bindgen = "0.6"
console_error_panic_hook = { version = "0.1", optional = true }

[features]
default = ["console_error_panic_hook"]
